{% extends 'base.html' %}

{% block title %}Page Not Found | Movie Collection{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="display-1">404</h1>
            <h2 class="mb-4">Page Not Found</h2>
            <p class="lead mb-4">The page you were looking for could not be found. It might have been removed, renamed, or did not exist in the first place.</p>
            <a href="{{ url_for('index') }}" class="btn btn-primary">Go Home</a>
        </div>
    </div>
</div>
{% endblock %}