{% extends 'base.html' %}

{% block title %}Server Error | Movie Collection{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="display-1">500</h1>
            <h2 class="mb-4">Internal Server Error</h2>
            <p class="lead mb-4">Something went wrong on our server. We are aware of the issue and are working to fix it.</p>
            <a href="{{ url_for('index') }}" class="btn btn-primary">Go Home</a>
        </div>
    </div>
</div>
{% endblock %}